<tr>
    <td colspan="2">
        <strong><a href="{{ path( "ez_urlalias", {"contentId": ride.id } ) }}"
                   target="_self">{{ ride.title }} </a></strong>
    </td>
    <td>{{ ride.starting_point }}</td>
    <td>{{ ride.length }} Km</td>
    <td>{{ ride.difficulty }}<i class="fa fa-star star-color"></i></td>
</tr>