<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="eZ Systems - Beginner tutorial" content="eZ Systems where content meets business">
    <meta name="Bike Tutorial" content="eZ Systems tutorial">

    <title>Beginners Tutorial - Bike Rides</title>
    {{ include('EzTutorialBikeBundle::page_head_css.html.twig') }}

    <!-- Custom Fonts & Themes -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
</head>

<body>
{{ include('EzTutorialBikeBundle::navigation.html.twig') }}
{{ include('EzTutorialBikeBundle::header.html.twig') }}


<section class="buttons">
    <div class="container">
        <div class="row regular-content-size">
            <div class="col-md-8 col-md-offset-2 box-style">
                <h3 class="center bottom-plus new-header">List of all
                    Rides</h3>

                <table class="table table-hover">
                    <thead>
                    <tr class="table-header">
                        <th>{% image '@EzTutorialBikeBundle/Resources/images/3.jpg' %}
                            <img src="{{ asset_url }}" alt="3" class="img-rounded"
                                 style="width: 20%;"/>
                            {% endimage %}</th>
                        <th>Name</th>
                        <th>Starting Point</th>
                        <th>Length</th>
                        <th>Level</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for ride in rideList %}
                        {#{{ ez_render_field( #}
                               {#ride, #}
                               {#'ride',#}
                               {#{ 'template': 'EzTutorialBikeBundle:line:ride.html.twig' }#}
                           {#) }}#}
                        {{ include('EzTutorialBikeBundle:line:ride.html.twig') }}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

{{ include('EzTutorialBikeBundle::footer.html.twig') }}
{{ include('EzTutorialBikeBundle::page_javascript.html.twig') }}
</body>
</html>